
:root {
    --black: #000000;
    --deep-purple: #481449;
    --light-grey: #E9E9E9;
    --white: #ffffff;
  }
  body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--light-grey);
    color: var(--black);
}
h1 {
    color: var(--deep-purple);
}

  